# Java
*.class
*.jar
*.war
*.ear

# Node.js
node_modules

# Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.metadata/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/



# OS
Thumbs.db
.DS_Store
/.svn
